.empresa {
    color: black;
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    border: solid 2px black;
}

button {
<<<<<<< HEAD
    background-color: white;
    color: yellow;

}
body {
    background-color: #94b3fd;
}

.piePagina {
    border: solid 2px black;
}
=======
    background-color: rgb(162, 163, 180);
    color: white;
    border-radius: 30px;

}
body {
    background-color: rgb(240, 240, 240);
}
<<<<<<< HEAD
img{
    height: 300px;
    width: 250px;
}
=======

.fin {
    text-align: center;
}
>>>>>>> 5cfac2fb4c304c06db0599f8b65bc5087938983a
>>>>>>> f04b6cab0f5f6064af07aa2bb2a10c08ccfd7fbc
