.empresa {
    color: black;
    text-align: center;
    font-size: 60px;
}

button {
    background-color: rgb(162, 163, 180);
    color: white;
    border-radius: 30px;

}
body {
    background-color: rgb(240, 240, 240);
}
img{
    height: 300px;
    width: 250px;
}